tests/TestDB/table_name1.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT table (row*)>
<!ATTLIST table column_name1 CDATA "varchar">
<!ATTLIST table column_name2 CDATA "int">
<!ATTLIST table column_name3 CDATA "varchar">
<!ELEMENT row (column_name1, column_name2, column_name3)>
<!ELEMENT column_name1 (#PCDATA)>
<!ELEMENT column_name2 (#PCDATA)>
<!ELEMENT column_name3 (#PCDATA)>